[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
ipython = "*"
rope = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
psycopg2 = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
